<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard - Mazer Admin Dashboard</title>

		<link rel="stylesheet" href="assets/css/main/app.css" />
		<link rel="stylesheet" href="assets/css/main/app-dark.css" />
		<link
			rel="shortcut icon"
			href="assets/images/logo/favicon.svg"
			type="image/x-icon"
		/>
		<link
			rel="shortcut icon"
			href="assets/images/logo/favicon.png"
			type="image/png"
		/>

		<link rel="stylesheet" href="assets/css/shared/iconly.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
	</head>

	<body>
		<div id="app">
			<div id="sidebar" class="active">
				<div class="sidebar-wrapper active">
					<div class="sidebar-header position-relative">
						<div class="d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="index.html"
									><img src="assets/images/logo/logo.svg" alt="Logo" srcset=""
								/></a>
							</div>
							<div class="theme-toggle d-flex gap-2 align-items-center mt-2">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									aria-hidden="true"
									role="img"
									class="iconify iconify--system-uicons"
									width="20"
									height="20"
									preserveAspectRatio="xMidYMid meet"
									viewBox="0 0 21 21"
								>
									<g
										fill="none"
										fill-rule="evenodd"
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
									>
										<path
											d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
											opacity=".3"
										></path>
										<g transform="translate(-210 -1)">
											<path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
											<circle cx="220.5" cy="11.5" r="4"></circle>
											<path
												d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"
											></path>
										</g>
									</g>
								</svg>
								<div class="form-check form-switch fs-6">
									<input
										class="form-check-input me-0"
										type="checkbox"
										id="toggle-dark"
									/>
									<label class="form-check-label"></label>
								</div>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									aria-hidden="true"
									role="img"
									class="iconify iconify--mdi"
									width="20"
									height="20"
									preserveAspectRatio="xMidYMid meet"
									viewBox="0 0 24 24"
								>
									<path
										fill="currentColor"
										d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"
									></path>
								</svg>
							</div>
							<div class="sidebar-toggler x">
								<a href="#" class="sidebar-hide d-xl-none d-block"
									><i class="bi bi-x bi-middle"></i
								></a>
							</div>
						</div>
					</div>
					<div class="sidebar-menu">
						<ul class="menu">
							<li class="sidebar-title">Menu</li>
							<li class="sidebar-item active">
								<a href="carakerja.html" class="sidebar-link">
									<i class="fa-solid fa-briefcase" style="color: #7c8db5"></i>
									<span>Cara Kerja Aplikasi</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="main">
				<header class="mb-3">
					<a href="#" class="burger-btn d-block d-xl-none">
						<i class="bi bi-justify fs-3"></i>
					</a>
				</header>

				<div class="page-heading">
					<h3>Cara Kerja Aplikasi</h3>
				</div>
				<div class="page-content">
					<div class="card">
						<div
							class="card-header"
							data-toggle="collapse"
							href="#collapseContent1"
						>
							Step 1
						</div>
						<div class="collapse" id="collapseContent1">
							<div class="card-body">
								<h4>Input Data</h4>
								<p>
									Metode TOPSIS (Technique for Order Preference by Similarity to
									Ideal Solution) adalah salah satu metode pengambilan keputusan
									multi-kriteria yang digunakan untuk memilih alternatif terbaik
									dari sejumlah alternatif berdasarkan beberapa kriteria yang
									telah ditentukan.
								</p>
								<p>
									Siapkan data yang diperlukan! Pada perhitungan topsis
									dibutuhkan Data Alternatif dan Data Kriteria. Data tersebut
									diinput pada halaman yang sudah disediakan beserta bobot pada
									masing kriteria
								</p>
								<p>Berikut adalah contoh data alternatif dan kriteria</p>

								<img
									src="assets/images/Screenshot 2023-07-24 084745.png"
									alt=""
									srcset=""
								/>

								<p>
									Berikut adalah petunjuk skala bobot dari 1 sampai dengan 5
								</p>
								<ul>
									<li>5 = Prioritas Utama</li>
									<li>4 = Sangat Penting</li>
									<li>3 = Penting</li>
									<li>2 = Dipertimbangkan</li>
									<li>1 = Tidak terlalu Penting</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div
							class="card-header"
							data-toggle="collapse"
							href="#collapseContent2"
						>
							Step 2
						</div>
						<div class="collapse" id="collapseContent2">
							<div class="card-body">
								<h4>Normalisasi</h4>
								<img
									src="https://1.bp.blogspot.com/-Oc1FB0eVIKY/VeFKee1-PsI/AAAAAAAAAS0/y_1ExjbfQOw/s1600/t2.png"
									alt=""
									srcset=""
								/>
								<p>
									Normalisasi dalam metode TOPSIS adalah salah satu langkah
									penting dalam proses pengambilan keputusan multi-kriteria.
									Normalisasi bertujuan untuk mengubah data kriteria dari skala
									aslinya ke dalam skala yang seragam, sehingga memungkinkan
									perbandingan yang adil antara kriteria dengan bobot yang
									berbeda.
								</p>
								<p>beriku adalah contoh hasil perhitungan yang sudah diinput</p>
								<img
									src="assets/images/perhitungan ternormalisasi.png"
									alt=""
									srcset=""
								/>
							</div>
						</div>
					</div>
					<div class="card">
						<div
							class="card-header"
							data-toggle="collapse"
							href="#collapseContent3"
						>
							Step 3
						</div>
						<div class="collapse" id="collapseContent3">
							<div class="card-body">
								<h4>Normalisasi x Weight (Bobot)</h4>
								<p>
									Setelah matriks dinormalisasi, lalu akan dikalikan dengan
									bobot masing-masing kriteria yang sudah diinput sebelumnya
								</p>
								<p>
									Berikut adalah contoh output dari matriks ternormalisasi yang
									telah dikalikan dengan bobot kriteria
								</p>
								<img
									src="assets/images/normalisasi x bobot.png"
									alt=""
									srcset=""
								/>
							</div>
						</div>
					</div>
					<div class="card">
						<div
							class="card-header"
							data-toggle="collapse"
							href="#collapseContent4"
						>
							Step 4
						</div>
						<div class="collapse" id="collapseContent4">
							<div class="card-body">
								<h4>Penentuan Solusi Ideal Positif dan Negatif</h4>
								<p>
									Tentukan solusi ideal positif (A+) dan solusi ideal negatif
									(A-)berdasarkan nilai matriks rating terbobot pada langkah
									ke-3. Berikut persamaan yang digunakan untuk mencari nilai
									solusi ideal positif dan nilai solusi ideal negatif
								</p>
								<img
									src="http://4.bp.blogspot.com/-7F3tT737vW4/VeFK2DMukFI/AAAAAAAAAS8/zaYLkeHPgj4/s400/t4.png"
									alt=""
									srcset=""
								/>

								<p>Berikut adalah contoh output dari penentuan solusi ideal</p>
								<img
									src="assets/images/Solusi Ideal Positif.png"
									alt=""
									srcset=""
								/>
							</div>
						</div>
					</div>
					<div class="card">
						<div
							class="card-header"
							data-toggle="collapse"
							href="#collapseContent5"
						>
							Step 5
						</div>
						<div class="collapse" id="collapseContent5">
							<div class="card-body">
								<h4>Penentuan Jarak Solusi Ideal Positif dan Negatif</h4>
								<p>
									Tentukan jarak antara nilai terbobot setiap alternatif
									terhadap solusi ideal positif dan solusi ideal negatifnya
									.Untuk menentukan jarak antara nilai terbobot setiap
									alternatif terhadap solusi ideal positif , digunakan persamaan
									berikut
								</p>
								<img
									src="http://3.bp.blogspot.com/-X2PdYWGqktU/VeFLJOyiv3I/AAAAAAAAATE/0IxPxZy-0rc/s200/d%252B.png"
									alt=""
									srcset=""
								/>

								<p>
									Sedang untuk menghitung jarak antara nilai terbobot setiap
									alternatif terhadap solusi ideal negatif , digunakan persamaan
									berikut
								</p>
								<img
									src="http://4.bp.blogspot.com/-libQ1oEgzhQ/VeFLaapf4tI/AAAAAAAAATM/JKs3UWtSljM/s200/d-.png"
									alt=""
									srcset=""
								/>

								<p>Berikut adalah contoh output dari penentuan solusi ideal</p>
								<img
									src="assets/images/Jarak Solusi Ideal.png"
									alt=""
									srcset=""
								/>
							</div>
						</div>
					</div>
					<div class="card">
						<div
							class="card-header"
							data-toggle="collapse"
							href="#collapseContent6"
						>
							Step 6
						</div>
						<div class="collapse" id="collapseContent6">
							<div class="card-body">
								<h4>Perhitungan Nilai Preferensi</h4>
								<img
									src="http://1.bp.blogspot.com/-OxMMbaEsy0M/VeFLf04lBmI/AAAAAAAAATY/2cbRxlzybwI/s200/vi.png"
									alt=""
									srcset=""
								/>
								<p>
									Setelah nilai preferensi dihitung, akan keluar output sebagai
									berikut yang akan diambil nilai tertingginya sebagai hasil
									dari perhitungan metode topsis
								</p>
								<p>beriku adalah contoh hasil perhitungan nilai preferensi</p>
								<img
									src="assets/images/Nilai preferensi.png"
									alt=""
									srcset=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/app.js"></script>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<!-- Need: Apexcharts -->
		<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
		<script src="assets/js/pages/dashboard.js"></script>
	</body>
</html>
